@import url('https://fonts.googleapis.com/css?family=Orbitron|Audiowide|Exo 2');
body {
    background: url(./image/back.jpg) no-repeat center center fixed;
    background-size: cover;
    color: aliceblue;
    font-family: "Audiowide";
    font-weight: 300;
    font-size: 20px;
}
    A {
        color: rgb(173, 11, 11); 
       }
       A:visited {
        color: rgba(202, 0, 0, 0.678); 
       }
       A:active {
        color: red; 
       }


#back {
    background: rgba(0, 0, 0, 0.600);
    width: 100%;
    height: 100%;
    margin: 5px;
}

.col{
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid red;
    margin: 8px;
    border-radius: 10px;
    font-family: "Exo 2";
}
.href{
    color: rgb(200, 0, 0)
}

h1,
h2,
h3,
h4 {
    color: rgb(200, 0, 0);
    font-family: "Orbitron";
    font-weight: bold;
    text-align: center;
}
/* icons */
.far .fab{
    background-color: rgb(200, 0, 0)
}
/* ava */
.tilt{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.tilt:hover{
    -webkit-transition: rotate (-10deg);
    -moz-transition: rotate (-10deg);
    -o-transition: rotate (-10deg);
    -ms-transition: rotate (-10deg);
    transition: rotate (-10deg);
}
/* modal wind */

#exampleModal {
    background: url(./image/door.jpg) no-repeat center center fixed;
    background-size: cover;
}

.modal-content {
    background: rgba(200, 0, 0, 0.400);
}

/* popup about me */
.btn-block{
    margin:  5px 10px 15px 1px;
    -moz-user-focus: initial;
}
#myModal{
    background-color: rgba(0, 0, 0, 0.95)
}
 .btn:focus, .btn:hover {
    box-shadow: 0 0 0 0.1rem aliceblue;
}
.close:focus, .close:hover{
    outline: none;
}

/* player */

ul.player li {
    padding: 20px 15px 20px 70px;
    background: url(./icon/play2.png) no-repeat 10px 10px;
    cursor: pointer;
}

ul.player li:hover {
    background-color: rgba(200, 0, 0, 0.2);
    border-radius: 20px;
}

ul.player li#playing {
    background: url(./icon/pause2.png) no-repeat 10px 10px;
    background-color: rgba(255, 0, 0, 0.842);
    border-radius: 20px;
}

ul.player li#paused {
    background: url(./icon/play2.png) no-repeat 10px 10px;
    background-color: rgba(255, 0, 0, 0.486);
    border-radius: 20px;
}

/* Gallery */

.gallery img {
    margin: 5px;
    border: 3px solid rgba(255, 0, 0, 0.486);
    border-radius: 10px;
}

a.photo:hover img {
    border: 3px solid rgba(255, 0, 0, 0.842);
}

/* calc */

.calc {
    width: 500px;
    margin: 0 auto;
    border: 3px solid rgba(202, 0, 0, 0.678);
    border-radius: 10px;
    margin-bottom: 20px;
}

input[type=button] {
    margin: 5px 5px 5px 13px;
    height: 80px;
    width: 100px;
    border: 2px solid rgb(173, 11, 11);
    font-size: 50px;
}

input[type=text] {
    height: 80px;
    width: 494px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 0 auto;
    font-size: 50px;
}

input,
textarea,
select,
button {
    font-family: "Orbitron";
    background-color: rgba(199, 0, 0, 0.705);
    outline-color: rgba(200, 0, 0, 0.2)
}

/* tdlist */


ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none; 
}

.app {
  box-shadow: 0 0 3px 0 rgb(200, 0, 0);
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  width: 100%; 
}
  .app__header {
    background-color: rgba(200, 0, 0, 0.4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
  .app__title {
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    text-align: center; 
}
  .app__info {
    display: flex;
    padding: 8px 16px; 
}
    .app__info-item {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex: 1; 
    }
  .app__body {
    background-color:rgba(200, 0, 0, 0.300); 
}
  .app__footer {
    background-color: rgba(200, 0, 0, 0.300);
    padding: 8px 16px; 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
  .app__list-item {
    align-items: center;
    display: flex;
    position: relative; 
}
    .app__list-item:hover {
      background-color: rgba(200, 0, 0, 0.5); 
    }
      .app__list-item:hover .app__list-remove {
        opacity: 0.5; 
    }
        .app__list-item:hover .app__list-remove:hover {
          opacity: 1; 
        }
    .app__list-item.app__list-item--done {
      background-color: black; 
    }
      .app__list-item.app__list-item--done .app__list-text {
        text-decoration: line-through; 
    }
  .app__list-text {
    cursor: pointer;
    flex: 1;
    line-height: 24px;
    padding: 8px 16px; 
}
  .app__list-remove {
    border: 1px solid red;
    border-radius: 50%;
    cursor: pointer;
    height: 32px;
    fles-shrink: 0;
    margin-left: auto;
    margin-right: 5px;
    opacity: 0;
    padding: 0 8px;
    transform: rotate(45deg);
    transition: all linear 0.3s;
    width: 32px; }
    .app__list-remove:before, .app__list-remove:after {
      content: "";
      background-color: red;
      display: block;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%); 
    }
    .app__list-remove:before {
      height: 3px;
      width: 20px; }
    .app__list-remove:after {
      height: 20px;
      width: 3px; 
    }
  .app__task-new {
    border: 0;
    border-radius: 10px;
    line-height: 40px;
    min-height: 40px;
    padding: 0 8px;
    width: 100%;
 }
